<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Front End AGENDAMENTOS</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
    <h1>FRONT-END AGENDAMENTOS</h1>

    <h3>Cadastro de agendamentos</h3>
    
    
    <table>
    <tr>
        <td> Id do Paciente: </td>
           <td><input type="text" id="idPaciente" size="50" ><br></td>
    </tr>
    <tr>
        <td>Data agendamento: </td>
          <td><input type="text" id="data" size="50"><br></td>
    </tr>
    <tr>
          <td>Status:</td>
           <td><input type="text" id="status" size="20"> <br></td>
    </tr>
    <tr>
          <td>Categoria: </td>
          <td><input type="text" id="categoria" size="50"><br></td>
    </tr>
	  <tr>
	        <td>Observacoes: </td>
	        <td><input type="text" id="observacoes" size="50"><br></td>
	  </tr>
    </table>  
	
      <button onclick="criarAgendamento()">Adicionar</button>
    
       <h3>Listagem de Agendamento </h3>
      <div id="listaAgendamentos"></div> 
    
</body>
</html>







<script type="text/javascript">

const urlAPI = "http://localhost:9002/v1/agendamento"; // URL da API agendamentoServices

// Função para criar um novo agendamento
async function criarAgendamento() {
  
	// pega os dados da tela.
	const idPaciente = document.getElementById("idPaciente").value;
	const data = document.getElementById("data").value;
  	const status = document.getElementById("status").value;
  	const categoria = document.getElementById("categoria").value;
	const observacoes = document.getElementById("observacoes").value;
  
  // cria o payload para enviar a api.
	const body = {
		"idPaciente" : idPaciente,
		"data" : data,
		"status" : status,
		"categoria" : categoria,
		"observacoes" : observacoes
 	}
  // realiza a chamada na api
  	await fetch(urlAPI, {
    	method: "POST",
    	headers: {
      	"Content-Type": "application/json"
    	},
    	body: JSON.stringify( body )
  	}).then(response =>{
		// trata o status de sucesso.		
	  	if(response.status == 200){	  		
			alert("sucesso no cadastro do agendamento");
			document.getElementById("idPaciente").value = "";
			document.getElementById("data").value = "";
			document.getElementById("status").value = "";
			document.getElementById("categoria").value = "";
			document.getElementById("observacoes").value = "";
		}else{
			// trata o erro no cadastro.
			const data = response.text().then(d => {
				alert("Erro no cadastro \n" + d);
			});

		}	  
 	 })
  ;
  
  	carregarAgendamentos(); // Atualiza a lista de agendamentos
}

//Função para carregar os agendamentos 
async function carregarAgendamentos() {

	// realiza a chamda na api
	const response = await fetch(urlAPI);
  	// transforma os dados da api para agendamento (json-> objeto)
	const agendamentos = await response.json();

  	const listaAgendamentos = document.getElementById("listaAgendamentos");
 	listaAgendamentos.innerHTML = ""; // Limpa a lista antes de adicionar as tarefas
 	
 	if(agendamentos == ""){
 		listaAgendamentos.innerHTML = `Nenhum agendamento cadastrado
 			<br><br>
 			<input type='button' onclick='carregarAgendamentos()' value='Atualizar'/>
 		`;
 		return;
 	}
  
 	var linhas = `<tr>
		<th>Id do Paciente</th>
		<th>Data agendamento</th>
		<th>Status</th>
		<th>Categoria</th>
		<th>Observacoes</th>`;
  	// vai iterando cada agendamento.
 	agendamentos.forEach(agendamento => {    
	  linha = `
    	<tr>
			<td>${agendamento.idPaciente}</td>
    		<td>${agendamento.data}</td>
    		<td>${agendamento.status} </td>
    		<td>${agendamento.categoria}</td>
			<td>${agendamento.observacoes} </td>  
    	`;
	  	linhas = linhas + linha;
  	});
  
  	listaAgendamentos.innerHTML  =  '<table border=1>' + linhas + '</table><br>'  +
  		"<input type='button' onclick='carregarAgendamentos()' value='Atualizar'/>";  
}

carregarAgendamentos();

</script>